@model CategoryViewModel
@inject UserManager<ApplicationUser> userManager
@{
    ViewData["Title"] = "Categories";
}

<style>
     /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 
</style>
<div class="wrapper">
    <!--Content-Header-->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@ResourceWeb.lbCategories</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Admin/Home/Index">@ResourceWeb.lbHomePage</a></li>
                        <li class="breadcrumb-item active">@ResourceWeb.lbManageBook</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--End Content-Header-->
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-start">
                        <h3 class="card-title" style="margin-left:20px">@ResourceWeb.lbCategories</h3>
                        <div class="card-tools ">
                            <!-- Button trigger modal -->
                            <button type="button" style="margin-top:-5px"
                                    class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="Rest()">
                                @ResourceWeb.lbbtnSaveNewCategory
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- Tab links -->
                        <div class="tab">
                            <button class="tablinks" onclick="openCity(event, 'Categories')" id="defaultOpen">@ResourceWeb.lbCategories</button>
                            <button class="tablinks" onclick="openCity(event, 'LogCategories')" id="defaultTow">@ResourceWeb.lbLogCategories</button>
                        </div>

                        <!-- Tab content -->
                        <div id="Categories" class="tabcontent">
                            <table id="tableCategory" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <td>@ResourceWeb.lbNameCategory</td>
                                        <td>@ResourceWeb.lbDescription</td>
                                        <td>@ResourceWeb.lbEvents</td>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Categories)
                                    {
                                        <tr>
                                            <td>
                                                @item.Name
                                            </td>
                                            <td>
                                                @item.Description
                                            </td>
                                            <td>
                                                <input type="button" class="btn btn-info btn-sm" onclick="Edit('@item.Id', '@item.Name','@item.Description')" value="@ResourceWeb.lbbtnEdit" data-bs-toggle="modal" data-bs-target="#exampleModal" />|
                                                <input type="button" class="btn btn-danger btn-sm" onclick="Delete('@item.Id')" value="@ResourceWeb.lbbtnDelete" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div id="LogCategories" class="tabcontent">
                            <table id="tableLogCategory" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <td>@ResourceWeb.lbNameCategory</td>
                                        <td>@ResourceWeb.lbActionName</td>
                                        <td>@ResourceWeb.lbDate</td>
                                        <td>@ResourceWeb.lbUserName</td>                          
                                        <td>@ResourceWeb.lbEvents</td>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.LogCategories)
                                    {
                                        <tr>
                                            <td>#</td>
                                            <td>@item.Category.Name</td>
                                            <td>
                                                @switch (@item.Action)
                                                {
                                                    case "Save":
                                                        <span class="badge badge-success" style="width:150px; height:25px">@item.Action</span>
                                                        break;
                                                    case "Update":
                                                        <span class="badge badge-warning" style="width:150px; height:25px">@item.Action</span>
                                                        break;
                                                    default:
                                                        <span class="badge badge-danger" style="width:150px; height:25px">@item.Action</span>
                                                        break;
                                                }
                                            </td>
                                            <td>@item.Date</td>
                                            <td>@userManager.FindByIdAsync(item.UserId.ToString()).Result?.Name</td>

                                            <td>
                                                <input type="button" class="btn btn-danger btn-sm" onclick="DeleteLog('@item.Id')" value="@ResourceWeb.lbbtnDelete" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        

                        
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog card card-success card-outline">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">@ResourceWeb.lbbtnSaveNewRole</h5>
                <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</a>
            </div>
            <div class="modal-body">
                <form asp-action="Save" asp-controller="Categories" method="post">
                    <input type="text" hidden class="form-control" asp-for="NewCategory.Id" id="categoryId" />
                    <div class="form-group">
                        <label asp-for="NewCategory.Name" class="control-lable">@ResourceWeb.lbNameCategory</label>
                        <input type="text" class="form-control" asp-for="NewCategory.Name" id="categoryName" />
                        <span asp-validation-for="NewCategory.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewCategory.Description" class="control-lable">@ResourceWeb.lbDescription</label>
                        <input type="text" class="form-control" asp-for="NewCategory.Description" id="description" />
                        <span asp-validation-for="NewCategory.Description" class="text-danger"></span>
                    </div>

                    <div class="modal-footer-rtl" style="padding:0 15px 15px 0">
                        <input type="submit" class="btn btn-success" value="@ResourceWeb.lbbtnSave" id="btnSave" />
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    @if (!string.IsNullOrEmpty(Context.Session.GetString(Helper.MsgType)))
    {
        if (Context.Session.GetString(Helper.MsgType) == Helper.Success)
        {
            <script>

                Swal.fire({
                    title: '@Context.Session.GetString(Helper.Title)',
                    text: '@Html.Raw(@Context.Session.GetString(Helper.Msg))',
                    confirmButtonText: '@ResourceWeb.lbOk',
                    icon: 'success'
                });
            </script>

        }
        else
        {
            <script>

                Swal.fire({
                    title: '@Context.Session.GetString(Helper.Title)',
                    text: '@Html.Raw(@Context.Session.GetString(Helper.Msg))',
                    confirmButtonText: '@ResourceWeb.lbOk',
                    icon: 'error'
                });
            </script>
        }
        Context.Session.SetString(Helper.MsgType, "");
    }

    <script src="~/Modules/Categories.js"></script>

    <script>

        let lbTitleEditCategory = '@Html.Raw(ResourceWeb.lbTitleEditCategory)';
        let lbEdit = '@Html.Raw(ResourceWeb.lbEdit)';
        let lbAddNewCategory = '@Html.Raw(ResourceWeb.lbAddNewCategory)';
        let lbbtnSave = '@Html.Raw(ResourceWeb.lbbtnSave)';

        let lbTitleMsgDelete = '@Html.Raw(ResourceWeb.lbbtnSave)';
        let lbTextMsgDelete = '@Html.Raw(ResourceWeb.lbTextMsgDelete)';
        let lbconfirmButtonText = '@Html.Raw(ResourceWeb.lbconfirmButtonText)';
        let lbcancelButtonText = '@Html.Raw(ResourceWeb.lbcancelButtonText)';

        let lbTitleDeletedOk = '@Html.Raw(ResourceWeb.lbTitleDeletedOk)';
        let lbMsgDeletedOkCategory = '@Html.Raw(ResourceWeb.lbMsgDeletedOkCategory)';
        let lbSuccess = '@Html.Raw(Helper.Success)';

    </script>
    }



