@model RegisterViewModel
@{
    ViewData["Title"] = "Registers";
}
<div class="wrapper">
    <!--Content-Header-->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@ResourceWeb.lbUser</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Admin/Home/Index">@ResourceWeb.lbHomePage</a></li>
                        <li class="breadcrumb-item active">@ResourceWeb.lbManageBook</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
        <!--End Content-Header-->
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center justify-content-start">
                            <h3 class="card-title" style="margin-left:20px">@ResourceWeb.lbUser</h3>
                            <div class="card-tools ">
                                <!-- Button trigger modal -->
                                <button type="button" style="margin-top:-5px" 
                                class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="Rest()">
                                    @ResourceWeb.lbbtnSaveNewUser
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tableRole" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <td style="width:15%">@ResourceWeb.lbNameUser</td>
                                        <td style="width:15%">@ResourceWeb.lbNameRole</td>
                                        <td style="width:10%">@ResourceWeb.lbImageUser</td>
                                        <td style="width:15%">@ResourceWeb.lbEmailUser</td>
                                        <td style="width:10%">@ResourceWeb.lbActiveUser</td>
                                        <td style="width:30%">@ResourceWeb.lbEvents</td>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in Model.Users)
                                   {
                                       <tr>
                                           <td>@user.Name</td>
                                           <td>
                                               @switch (@user.Role)
                                                {
                                                    case "SupperAdmin":
                                                        <span class="badge badge-danger" style="width:100px; height:25px">@user.Role</span>
                                                        break;
                                                    case "Admin":
                                                        <span class="badge badge-success" style="width:100px; height:25px">@user.Role</span>
                                                        break;
                                                    default:
                                                        <span class="badge badge-warning" style="width:100px; height:25px">@user.Role</span>
                                                        break;
                                                }
                                           </td>
                                           <td><img src="@Helper.PathImageuser/@user.ImageUser" class="img-bordered img-circle img-circle"
                                           style="width:50px; height:50px"></td>
                                       
                                       <td>@user.Email</td>
                                       <td><input type="checkbox" disabled checked="@user.ActiveUser" style="width:35px; height:35px" ></td>
                                       <td>
                                           <input type="button" class="btn btn-info btn-sm" onclick="Edit('@user.Id', '@user.Name',
                                            '@user.Email','@user.ImageUser','@user.Role','@user.ActiveUser')" value="@ResourceWeb.lbbtnEdit" data-bs-toggle="modal" data-bs-target="#exampleModal" />|
                                           <input type="button" class="btn btn-danger btn-sm" onclick="Delete('@user.Id')" value="@ResourceWeb.lbbtnDelete" />
                                           <input type="button" class="btn btn-success btn-sm" onclick="ChangePassword('@user.Id')" 
                                                    value="@ResourceWeb.lbbtnChangePassword"  data-bs-toggle="modal" data-bs-target="#changePasswordModal"/>
                                       </td>
                                       </tr>
                                   }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog card card-success card-outline">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title">@ResourceWeb.lbbtnSaveNewUser</h5>
                    <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</a>
                </div>
                <div class="modal-body">
                    <form asp-action="Registers" asp-controller="Accounts" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="text" hidden class="form-control" asp-for="NewRegister.Id" id="userId" />
                            <input type="text" hidden class="form-control" asp-for="NewRegister.ImageUser" id="imgeHide" />
                            <label asp-for="NewRegister.Name" class="control-lable">@ResourceWeb.lbNameUser</label>
                            <input type="text" class="form-control" asp-for="NewRegister.Name" id="userName" />
                            <span asp-validation-for="NewRegister.Name" class="text-danger"></span>
                        </div>
                         <div class="form-group">
                            <label asp-for="NewRegister.Email" class="control-lable">@ResourceWeb.lbEmailUser</label>
                            <input type="text" class="form-control" asp-for="NewRegister.Email" id="userEmail" />
                            <span asp-validation-for="NewRegister.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <img src="" class="img-circle"
                            style="width:35px;height:35px" hidden id="image"/>
                        </div>
                         <div class="form-group">
                            <label asp-for="NewRegister.ImageUser" class="control-lable">@ResourceWeb.lbImageUser</label>
                            <input type="file" class="form-control" asp-for="NewRegister.ImageUser" id="userImage" />
                            <span asp-validation-for="NewRegister.ImageUser" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewRegister.RoleName" class="control-lable">@ResourceWeb.lbNameRole</label>
                            <select class="form-control" asp-for="NewRegister.RoleName" id="ddluserRole"
                            asp-items="@(new SelectList(Model.Roles,"Name","Name"))" >
                                <option value="">@ResourceWeb.lbSelectUserRole</option>
                            </select>
                            <span asp-validation-for="NewRegister.RoleName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewRegister.ActiveUser" class="control-lable">@ResourceWeb.lbActiveUser</label>
                            <input type="checkbox" class="form-control" asp-for="NewRegister.ActiveUser" id="userActive" />
                        </div>
                        <div class="form-group" id="grPassword">
                            <label asp-for="NewRegister.Password" class="control-lable">@ResourceWeb.lbPassword</label>
                            <input type="password" class="form-control" asp-for="NewRegister.Password" id="userPassword" />
                            <span asp-validation-for="NewRegister.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group" id="grcomPassword">
                            <label asp-for="NewRegister.ComparePassword" class="control-lable">@ResourceWeb.lbComparePassword</label>
                            <input type="password" class="form-control" asp-for="NewRegister.ComparePassword" id="userCompare" />
                            <span asp-validation-for="NewRegister.ComparePassword" class="text-danger"></span>
                        </div>
                        <div class="modal-footer-rtl" style="padding:0 15px 15px 0">
                            <input type="submit" class="btn btn-success" value="@ResourceWeb.lbbtnSave" id="btnSave" />
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>



     <!-- Modal Change Password -->
    <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog card card-success card-outline">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title">@ResourceWeb.lbbtnChangePassword</h5>
                    <a href="#" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</a>
                </div>
                <div class="modal-body">
                    <form asp-action="ChangePassword" asp-controller="Accounts" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="text" hidden class="form-control" asp-for="ChangePassword.Id" id="userPassId" />
                           
                            <label asp-for="ChangePassword.NewPassword" class="control-lable">@ResourceWeb.lbPassword</label>
                            <input type="password" class="form-control" asp-for="ChangePassword.NewPassword" />
                            <span asp-validation-for="ChangePassword.NewPassword" class="text-danger"></span>
                        </div>
                         <div class="form-group">
                            <label asp-for="ChangePassword.ComparePassword" class="control-lable">@ResourceWeb.lbComparePassword</label>
                            <input type="password" class="form-control" asp-for="ChangePassword.ComparePassword" />
                            <span asp-validation-for="ChangePassword.ComparePassword" class="text-danger"></span>
                        </div>
                        <div class="modal-footer-rtl" style="padding:0 15px 15px 0">
                            <input type="submit" class="btn btn-success" value="@ResourceWeb.lbbtnSave" id="btnSave" />
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    @section Scripts{
        @if (!string.IsNullOrEmpty(Context.Session.GetString("msgType")))
        {
            if (Context.Session.GetString("msgType") == "success")
            {
                <script>

            Swal.fire({
                title: '@Context.Session.GetString("title")',
                text: '@Html.Raw(@Context.Session.GetString("msg"))',
                confirmButtonText: 'حسناً',
                icon: 'success'
            });
                </script>

            }
            else
            {
                <script>

             Swal.fire({
                 title: '@Context.Session.GetString("title")',
                 text: '@Html.Raw(@Context.Session.GetString("msg"))',
                 confirmButtonText: 'حسناً',
                 icon: 'error'
             });
                </script>
            }
            Context.Session.SetString("msgType", "");
        }

        <script src="~/Modules/Registers.js"></script>
    }



